{% extends 'base.html' %}

{% block content %}
    <h1>This is the search page!</h1>
    <p>You'll be able to find things here!</p>
    <table>
        <thead>
            <tr>
                <th scope="col">Photos</th>
            </tr>
        </thead>
        <tbody>
            {% if observation_list %}
                {% for observation in observation_list %}
                <tr>
                    <td><a><a href="{% url 'visualizer' observation.obs_id %}">{{ observation }}</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>No observations are available.</tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}