{% extends 'base.html' %}

{% block content %}
    <h1>This is the search page!</h1>
    <p>You'll be able to find things here!</p>
    <script>
        // Arrays containing id, name, type (s:string, n:number, d:date)
        const unprocessed = "{{ fields|safe }}";
        const options = new Map();
        unprocessed.split(",").forEach((value) => {
            if (value) options.set(value.substring(1), [value.substring(1), value.substring(0,1)]);
        })

        function addFilter() {
            // Creates an empty string filter.
            addFilter(null, "")
        }

        function addFilter(selected, value) {
            var row = document.createElement("tr");
            var select = "<select name='filter-value' id='filter-value' onchange='typeFields()'>";
            var selType = "";

            // Create the options in the filter dropdown
            options.forEach((settings, optionId) => {
                // If an option was selected and it's this one, mark it as such
                if (selected === optionId) {
                    select += "<option value='"+optionId+"' selected>"+settings[0]+"</option>";
                    selType = settings[1];
                } else 
                select += "<option value='"+optionId+"'>"+settings[0]+"</option>";
            })
            select += "</select>";

            // Create the input field and format it correctly.
            var input = "<input id='value' name='value'";
            switch (options.has(selected) ? options.get(selected)[1] : null) {
                case 'n':
                    input += " type='number'";
                    break
                case 'd':
                    input += " type='datetime-local'";
                    break
                case 'b':
                    input += " type='checkbox'";
                    break
                case 's':
                default:
                    input += " type='text' maxlength='32'";
            }
            if (value) {
                input += " value='"+value+"'";
            }
            input += "/>";
            
            // Final HTML for the element
            row.innerHTML = 
                select+
                "<select name='filter-type' id='filter-type'>"+
                    "<option value='matches'>Matches</option>"+
                    "<option value='contains'>Contains</option>"+
                    "<option value='excludes'>Excludes</option>"+
                "</select>"+
                input;
            document.getElementById("filters").appendChild(row);
        }

        function typeFields() {
            var filters = document.getElementsByName("filter-value");
            filters.forEach(filter => {
                field = filter.nextElementSibling.nextElementSibling;
                switch (options.get(filter.selectedOptions[0].value)[1]) {
                    case "n":
                        field.setAttribute("type", "number");
                        field.removeAttribute("maxlength");
                        break
                    case "d":
                        field.setAttribute("type", "datetime-local");
                        field.removeAttribute("maxlength");
                        break
                    case "b":
                        field.setAttribute("type", "checkbox");
                        field.removeAttribute("maxlength");
                        break
                    case "s":
                    default:
                        field.setAttribute("type", "text");
                        field.setAttribute("maxlength", "32");
                }
            });
        }

        function search() {
            var newURL = "/search?";
            var filters = document.getElementsByName("filter-value");
            filters.forEach(filter => {
                field = filter.nextElementSibling.nextElementSibling;
                if (field.value) newURL += "&" + filter.value + "=" + encodeURIComponent(field.value);
            });
            document.location.href = newURL;
        }
    </script>
    <table>
        <thead>
            <tr>
                <th scope="col">Observations</th>
            </tr>
            <tr>
                <th scope="col">
                    <details id="filter-expand">
                        <summary>
                            Search Filters ⚙️
                        </summary>
                        <table>
                            <tbody id="filters">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        <input type="button"
                                            onclick="addFilter()"
                                            value="Add Filter"></input>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </details>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="submit"
                        onclick="search()"
                        value="Search"></input>
                </th>
            </tr>
        </thead>
        <tbody>
            {% if observation_list %}
                {% for observation in observation_list %}
                <tr>
                    <td><a><a href="{% url 'visualizer' observation.obs_id %}">{{ observation }}</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>No observations are available.</tr>
            {% endif %}
        </tbody>
    </table>
    <script>
        var params = new URLSearchParams(document.location.search);
        if (params.getAll.length > 0) {
            document.getElementById("filter-expand").setAttribute("open", "");

            params.forEach((value, key) => {
                addFilter(key, value);
            })
        }
    </script>
{% endblock %}