{% extends 'base.html' %}

{% block content %}
    <h1>This is the search page!</h1>
    <p>You'll be able to find things here!</p>
    <table>
        <thead>
            <tr>
                <th scope="col">Photos</th>
            </tr>
        </thead>
        <tbody>
            {% if asteroids_list %}
                {% for asteroid in asteroids_list %}
                <tr>
                    <td><a href="/visualizer/{{ asteroid }}/">{{ asteroid }}</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>No asteroids are available.</tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}