header,
body {
  font-family: sans-serif;
  background-color: lavender;
}

.header-box {
  padding: 5px 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  img {
    padding-right: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  div {
    padding-top: 10px;
    text-align: left;
  }
}

hr {
  border: 5px solid darkslateblue;
  border-style: inset;
}

canvas,
details,
table {
  border: 10px solid darkslateblue;
  border-style: inset;
  /* background-color: lavender; */
}

details table {
  border-collapse: collapse;
  border-style: none;
  text-align: left;
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

tbody > tr:nth-of-type(odd),
details li:nth-of-type(odd) {
  background-color: white;
}

thead,
tfoot {
  background-color: rgb(213, 186, 221);
}

th,
td {
  border: 1px solid darkslateblue;
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}