<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astervis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <header>
    <p>Welcome to Astervis</p>
    <p>
      <a href="{% url 'home' %}">Home</a> | <a href="{% url 'search-base' %}">Search</a>
    <p>
  </header>
  <hr></hr>
  <body style="font-family: sans-serif;">
    {% block content %}
    {% endblock %}
  </body>
  <hr></hr>
  <footer>
    <p><a href="#">Back to top.</a></p>
    <p>Utilising the <a href="https://data.asc-csa.gc.ca/users/OpenData_DonneesOuvertes/pub/NEOSSAT/">NEOSSat dataset</a>.</p>
  </footer>
</html>