<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astervis</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css">
  </head>
  <header>
    <p>Welcome to Astervis</p>
    <p>
      <a href="/">Home</a> | <a href="/search/">Search</a>
    <p>
  </header>
  <hr></hr>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <hr></hr>
  <footer>
    <p><a href="#">Back to top.</a></p>
    <p>Utilising the <a href="https://data.asc-csa.gc.ca/users/OpenData_DonneesOuvertes/pub/NEOSSAT/">NEOSSat dataset</a>.</p>
  </footer>
</html>