{% extends 'base.html' %}

{% block content %}
    <h1>Image {{ set.obs_id }}</h1>
    <p>Set: {{ set }}</p>
    <p>Object: {{ set.object }}</p>
    <p>Proposition: {{ set.prop_id }} - {{ set.title }}</p>
    <p>Taken: {{ set.time_obs }}</p>
    <canvas width="1024" height="1024">
        The observation will go here. It is most likely rendering at the moment.
    </canvas>
    {% load static %}
    <script src="{% static 'visualizer/fits.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var FITS = astro.FITS;

        const rawmap = {};

        var summap = function(map, value) {
            if (map[value]) map[value] = map[value]+1;
            else map[value] = 1;
        }

        var callback = function() {
            const canvas = document.querySelector("canvas");
            const ctx = canvas.getContext("2d");
            const dark_range = document.getElementById("dark");
            const light_range = document.getElementById("light");

            var header = this.getHeader();
            var data = this.getDataUnit();

            const width = header.get('NAXIS1'); // get image width
            const height = header.get('NAXIS2'); // get image height

            //Draw the image
            const imgData = ctx.createImageData(width, height);
            data.getFrame(0, (pixels) => {
                //Due to the side full of black and white pixels, this is kinda broken
                // On further inspection, they're not actually fully black???
                var totminmax = FITS.ImageUtils.getExtent(pixels);
                dark_range.min = totminmax[0];
                dark_range.max = totminmax[1];
                light_range.min = totminmax[0];
                light_range.max = totminmax[1];

                const range = light_range.value - dark_range.value;

                // Paint the pixels.
                for (var i = 0; i < pixels.length; i++) {
                    var value = ((pixels[i] - dark_range.value) / range) * 255;

                    summap(rawmap, pixels[i]-totminmax[0]);//+header.get('BZERO'));???????? maybe?? idk,,,

                    imgData.data[i*4 + 0] = value;
                    imgData.data[i*4 + 1] = value;
                    imgData.data[i*4 + 2] = value;
                    imgData.data[i*4 + 3] = 255;
                };

                ctx.putImageData(imgData, 0, 0);

                graph(totminmax[0])
            })

            const info_list = document.getElementById("info-list");
            Object.entries(header.cards).forEach(([key, value]) => {
                if (value.value || value.comment) {
                    var item = document.createElement("li");
                    var str = key + ": " + value.value;
                    if (value.comment) str += " /" + value.comment;
                    item.append(str);
                    info_list.appendChild(item);
                }
            });
        }

        function graph(minimum) {
            const canvas = document.getElementById("light-graph");
            const ctx = canvas.getContext("2d");
            const values = Object.entries(rawmap);

            // Dimensions
            canvas.width = 1000;
            canvas.height = 350;
            const buffer = 20;

            // Maximum pixel count of light level.
            var max = 0;
            for (let i = 0; i < values.length; i++) {
                if (max < values[i][1]) max = values[i][1];
            }
            
            // Trace graph
            ctx.beginPath();
            ctx.moveTo(0, canvas.height-buffer);
            for (let i = 0; i < values.length; i++) {
                ctx.lineTo(i*canvas.width/values.length, canvas.height-(values[i][1]*(canvas.height-buffer)/max)-buffer);
                // Current level text & tick
                if (i % 100 == 0) ctx.fillText((values[i][0]), i+2, canvas.height)
                if (i % 100 == 50) ctx.fillText((values[i][0]), i+2, canvas.height-10)
                if (i % 50 == 0) ctx.fillRect(i, canvas.height-buffer, 1, buffer);
            }
            ctx.closePath();
            ctx.fill();
        }

        function reload() {
            var url = "{{location|escapejs}}";
            var fits = new FITS(url, callback);
        }

        reload();
    </script>
    <div>
        <input type="number" id="dark" name="dark" min="0" max="2000" value="1000" onclick="reload()"/>
        <label for="dark">Black value.</label>
    </div>
    <div>
        <input type="number" id="light" name="light" min="5000" max="10000" value="6000" onclick="reload()"/>
        <label for="light">White value.</label>
    </div>
    <button onclick="reload()">Render</button>
    <div>
        <canvas id="light-graph">A graph displaying the dispersion of the pixel light levels.</canvas>
    </div>
    <details id="info">
        <summary>
            Details 🔎
        </summary>
        <ul id="info-list">
        </ul>
    </details>
{% endblock %}