{% extends 'base.html' %}

{% block content %}
    <h1>Image {{ set.obs_id }}</h1>
    <p>Set: {{ set }}</p>
    <p>Object: {{ set.object }}</p>
    <p>Proposition: {{ set.prop_id }} - {{ set.title }}</p>
    <p>Taken: {{ set.time_obs }}</p>
    <canvas width="1024" height="1024">
        The observation will go here. It is most likely rendering at the moment.
    </canvas>
    {% load static %}
    <script src="{% static 'visualizer/fits.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var FITS = astro.FITS;

        var callback = function() {
            const canvas = document.querySelector("canvas");
            const ctx = canvas.getContext("2d");
            const dark_range = document.getElementById("dark");
            const light_range = document.getElementById("light");

            var header = this.getHeader();
            var data = this.getDataUnit();

            const width = header.get('NAXIS1'); // get image width
            const height = header.get('NAXIS2'); // get image height

            //Draw the image
            const imgData = ctx.createImageData(width, height);
            data.getFrame(0, (pixels) => {
                //Due to the side full of black and white pixels, this is kinda broken
                var minminmaxmax = FITS.ImageUtils.getExtent(pixels);
                dark_range.min = minminmaxmax[0];
                dark_range.max = minminmaxmax[1];
                light_range.min = minminmaxmax[0];
                light_range.max = minminmaxmax[1];
                console.log(minminmaxmax);

                // Array[Min, Max]
                var minmax = [dark_range.value, light_range.value];

                const range = minmax[1] - minmax[0];

                // Paint the pixels.
                for (var i = 0; i < pixels.length; i++) {
                    var value = ((pixels[i] - minmax[0]) / range) * 255;


                    imgData.data[i*4 + 0] = value;
                    imgData.data[i*4 + 1] = value;
                    imgData.data[i*4 + 2] = value;
                    imgData.data[i*4 + 3] = 255;
                };

                ctx.putImageData(imgData, 0, 0);
            })
        }

        function reload() {
            var url = "{{location|escapejs}}";
            var fits = new FITS(url, callback);
        }

        reload();
    </script>
    <div>
        <input type="range" id="dark" name="dark" min="0" max="2000" value="1000" onclick="reload()"/>
        <label for="dark">Black value.</label>
    </div>
    <div>
        <input type="range" id="light" name="light" min="5000" max="10000" value="6000" onclick="reload()"/>
        <label for="light">White value.</label>
    </div>
    <button onclick="reload()">Render</button>
{% endblock %}