{% extends 'base.html' %}

{% block content %}
    <h1>Image {{ set.obs_id }}</h1>
    <p>From: {{ set.year }}-{{ set.day }}</p>
    <p>Set: {{ set }}</p>
    <canvas width="1024" height="1024">
        The observation will go here. It is most likely rendering at the moment.
    </canvas>
    {% load static %}
    <script src="{% static 'visualizer/fits.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var FITS = astro.FITS;

        var callback = function() {
            const canvas = document.querySelector("canvas");
            const ctx = canvas.getContext("2d");

            var header = this.getHeader();

            const width = header.get('NAXIS1'); // get image width
            const height = header.get('NAXIS2'); // get image height
            
            const imgData = ctx.createImageData(width, height);
            this.getDataUnit().getFrame(0, (pixels) => {
                var min = 1500
                var max = 5000

                // pixels.forEach(element => {
                //     if (element < min) min = element;
                //     if (element > max) max = element;
                // });

                const range = max - min

                for (var i = 0; i < pixels.length; i++) {
                    var value = ((pixels[i] - min) / range) * 255;


                    imgData.data[i*4 + 0] = value;
                    imgData.data[i*4 + 1] = value;
                    imgData.data[i*4 + 2] = value;
                    imgData.data[i*4 + 3] = 255;
                };

                ctx.putImageData(imgData, 0, 0);
            })
        }

        var url = "{{location|escapejs}}";
        var fits = new FITS(url, callback);
    </script>
{% endblock %}